<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="description" content="日本の論点">
	<title>日本の論点</title>
	<link rel="stylesheet" type="text/css" media="all" href="style.css">
	<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	<script src="jquery1.4.4.min.js"></script>
	<script src="script.js"></script>
</head>
<head>
		<header id="header" role="banner">
		<div class="logo">
      <%= link_to '日本の論点',  items_path %>
		</div>


		<div class="devise">
		<% if user_signed_in?  %>
						<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
		 		<% if current_user.admin? %> 
     					<%= link_to "投稿する",  new_item_path, class: "post"%>
     		<% end %>
    <% else %>
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
    <% end %>
		</div>


		<%# 検索フォーム %>
	<div class="search">
	<%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "キーワードで検索", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
  <%end%>
	<div>
	<%# 検索フォーム %>
	</header>

  <nav id="mainNav">
		<div class="inner">
			 <a class="menu" id="menu"><span>MENU</span></a> 
			<div class="panel">
				<ul>
				<li><%= link_to '政治',  political_items_path %></li>
	      <li><%= link_to '国際',  inter_items_path %></li>
				<li><%= link_to '経済',  economy_items_path %></li>
				<li><%= link_to '社会',  society_items_path %></li>
				<li><%= link_to '文化・メディア',  media_items_path %></li>
				<li><%= link_to '生活・医療',  life_items_path %></li>
				</ul>
			</div>
		</div>
	</nav>



</head>

					<%# <li><a href="sample.html"><strong>生活・医療</strong><span>Life&Medical</span></a></li> %>
