   <main class="main">
     <div class="inner">
       <%# <h1 class="page-heading">記事一覧</h1> %>
       <div class="card__wrapper">
       <%# カード %>
        <% @items.each do |item| %>
         <div class="card">

         <%= link_to item_path(item.id) do%>
          <%= image_tag item.image.variant(resize:'260x200'), class: 'card__img' if item.image.attached?%>
           <div class="card__body">
             <h2 class="card__title"> <%= item.title %> </h2>
             <p class="card__summary">
             <%= item.genre.name %>
             </p>
            <p class="card__summary">
            <%= item.name %>
             </p>
            <p class="card__summary">
              <%= item.updated_at.strftime("%Y-%m-%d") %>
             </p> 
           </div>
           <%end%>
           
         </div>
         <%end%>
       <%# カード？ %>
       </div>       
     </div>
   </main>
   <!-- /.main -->