 <div class="new">
    <%= form_with model: @write , local: true do |f| %>
    <div>
    著者情報を変更する
    </div>
    <div>
    写真:<%= f.file_field :image, id:"item-image" %>
    </div>
    <div>
    著者名：<%= f.text_field :name, placeholder: "著者名" %>
    </div>
    <div>
    ツイッターurl：<%= f.text_field :twitter, placeholder: "ツイッターurl" %>
    </div>
    <div>
    ブログurl:<%= f.text_field :blog, placeholder:"ブログurl" %>
    </div>
    <%# <div>
    ジャンル:<%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
    <%# </div> %> 
    <div>
    経歴:<%= f.text_area :text, placeholder:"経歴" %>
    </div>
    <div>
    <%= f.submit "変更する" ,class:"btn" %>
    </div>
    <div>
     <%= link_to '戻る', items_path%>

    </div>
    <% end %>
</div>
