  <div class="wrapper">

 <div class="new">
    <%= form_with model: @write , url:writes_path, local: true do |f| %>
              <%= render 'layouts/error_messages', model: f.object %>

    <div>
    著者情報を投稿する
    </div>
    <div>
    写真:<%= f.file_field :image, id:"item-image" %>
    </div>
    <div>
    著者名：<%= f.text_field :name, placeholder: "著者名" %>
    </div>
    <div>
    ツイッターurl：<%= f.text_field :twitter, placeholder: "ツイッターurl" %>
    </div>
    <div>
    ブログurl:<%= f.text_field :blog, placeholder:"ブログurl" %>
    </div>
    <div>
    経歴:<%= f.text_area :text, placeholder:"経歴" ,class:"new_text"%>
    </div>
    <div>
    <%= f.submit "投稿する" ,class:"btn" %>
    </div>
    <div>
     <%= link_to '戻る', items_path%>

    </div>
    <% end %>
</div>
</div><%# <wrapper終わり> %>