<%= render "shared/header" %>
<body>
<div class='item-contents'>
 <ul class='item-lists'>
 <li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag "item-sample.png", class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "スマホ1台ですべて決済低コスト化のメリット" %>
          </h3>
          <h3 class='item-name'>
            <%= "西村友作" %>
          </h3>
          <h3 class='item-name'>
            <%= "日付け" %>
          </h3>
        </div>
        <% end %>
 </li>
 <li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag "item-sample.png", class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "スマホ1台ですべて決済低コスト化のメリット" %>
          </h3>
          <h3 class='item-name'>
            <%= "西村友作" %>
          </h3>
        </div>
        <% end %>
 </li>

<li class='list'>
        <%= link_to "#" do %>
        <div class='item-img-content'>
          <%= image_tag "item-sample.png", class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= "スマホ1台ですべて決済低コスト化のメリット" %>
          </h3>
          <h3 class='item-name'>
            <%= "西村友作" %>
          </h3>
        </div>
        <% end %>
 </li>

 </ul>
</div>
</body>
<%= render "shared/footer" %>

	

