<%= render "shared/header" %>
<body>
<div class='item-contents'>
 <ul class='item-lists'>
  
  <%= link_to '新規投稿', new_item_path, class: "subtitle" %>

 <% @items.each do |item| %>
 <li class='list'>
<%= link_to items_path(item.id) do%>
        <div class='item-img-content'>
          <%= image_tag "item-sample.png", class: "item-img" %>
                <%# <%= image_tag item.image, class: 'message-image' %> 

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.title %> <%= item.genre.name %>
          </h3>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <h3 class='item-name'>
            <%= item.updated_at.strftime("%Y-%m-%d") %>
          </h3>
        </div>
        <% end %>
 </li>
<% end %>
 </ul>



</div>
</body>
<%= render "shared/footer" %>

	

