 <div class="wrapper">

 <div class="new">


    <%= form_with model: @item, url:items_path, local: true do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>

    <div>
    記事を投稿する
    </div>
    <div>
    写真:<%= f.file_field :image, id:"item-image" %>
    </div>
    <div>
    著者名：<%= f.text_field :name, placeholder: "著者名" %>
    </div>
    <div>
    著者の詳しいプロフィールURL：<%= f.text_field :url, placeholder: "url" %>
    </div>
    <div>
    タイトル:<%= f.text_field :title, placeholder:"タイトル" %>
    </div>
    <div>
    ジャンル:<%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
    </div>
    <div >
    <%= f.text_area :text, placeholder:"本文" ,class:"new_text"%>
    </div>
    <div>
    <%= f.submit "投稿する" ,class:"btn" %>
    </div>
    <div>
     <%= link_to '戻る', items_path%>
    </div>
    <% end %>


</div><%# new終わり %>

</div><%# <wrapper終わり> %>
