<%= render "shared/header" %>
  <div class="wrapper">
  <div class="article-img">
      <%= image_tag @item.image.variant(resize:'350x250'), class: 'article-image' if @item.image.attached?%>
  </div>
    <div class="article-date">
      <%= @item.updated_at.strftime("%Y-%m-%d") %>
    </div>
    <div class="article-genre">
      <%= @item.genre.name %>
    </div>
    <div class="article-title">
      <%= @item.title %>
    </div>
     <div class="article-name">
      <%= @item.name %>
    </div>
    <div class="article-text">
      <%= @item.text %>
    </div>
    <div class="twitter">
       <%= link_to image_tag("twitter.png"), "https://twitter.com/share?url=#{request.url}&text=#{@item.title}&hashtags=日本の論点", title: 'Twitter', target: '_blank' %>
    </div>
		<% if user_signed_in? && current_user.admin? %>
     			<%= link_to '削除', item_path(@item.id), method: :delete %>
          <%= link_to '編集', edit_item_path(@item.id), method: :get %>
    <% end %>



<div class="container">
<%# コメント記入欄 %>
  <div class="comment-form">
      <%= form_with(model: [@item, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", class:"text-form" %>
        <%= form.submit "SEND",class:"send"%>
      <% end %>
  </div>
<%# コメント記入欄 %>
<%# コメント表示 %>
   <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
<%# コメント表示 %>
</div>
    <%= render "shared/footer" %>
</div>
